<style>
.online-admins {
display: none;
width: 100%;
height: 100%;
background-color: #252525;
}
.noadmins {
text-align: center;
color: white;
}
</style>
<div class='online-admins'>
<h1 class='noadmins'>Now Online</h1>
</div>

<script>
const mews = io("/ws/admin/me/online");
mews.on("new.online", async(user) => {
//online <!user>
});
mews.on("new.ofline", async(user) => {
//ofline <!user>
});

</script>
