<style>
.noadmins {
text-align: center;
color: white;
}
</style>
<div style="margin: 0;
            padding: 0;
            background-color: #252525;
            color: white;
            width: 100%;
            min-height: 100%;">
<h1 class='noadmins'>Now Online</h1>
</div>

<script>
const mews = io("/ws/admin/me/online");
mews.on("new.online", async(user) => {
//online <!user>
});
mews.on("new.ofline", async(user) => {
//ofline <!user>
});

</script>
