<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }
    nav {
      background-color: #555;
      color: #fff;
      padding: 3px;
     height: 5%;
    }

    nav span {
text-decoration: none; 
  color: inherit;
  outline: none; 
      margin-right: 1em;
    }

    section {
      padding-top: 5px;
    }
#.movie {
display: block;
height: 92%;
padding-top: 4px;
width: 100%;
}
  </style>
</head>
<body>

  <nav>
    <span onclick="display_show('movies')">Movies</span>
 <span onclick="display_show('settings')">settings</span>
 <!---   <a href="/admin/stat">Statics</a>
    <a href="/admin/settings">Settings</a>-->
    <!-- Add more navigation links as needed -->
  </nav>

  <div id="div_movies" class="movie">
 <%- include("./movie.ejs")%>
</div>
<script>
function display_show(item) {
var all = document.querySelector(`div[id^="div_"]`);
all.forEach(divs => divs.style.display = "none");
}
</script>
</body>
</html>
