<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }
    nav {
      background-color: #555;
      color: #fff;
      padding: 1em;
    }

    nav a {
text-decoration: none; 
  color: inherit;
  outline: none; 
      margin-right: 1em;
    }

    section {
      padding: 20px;
    }

  </style>
</head>
<body>

  <nav>
    <a href="/admin/movie">Movies</a>
    <a href="/admin/stat">Statics</a>
    <a href="/admin/settings">Settings</a>
    <!-- Add more navigation links as needed -->
  </nav>

  <section>
 <%- include("./movie.ejs")%>
</section>

</body>
</html>
