  <div id="myModal" class="modal" style="overflow-y: auto;">
    <div style="overflow-y: auto;" class="modal-content">
      <button class="close-button" onclick="closeModal()">X</button>
      <h2>Add Item</h2>
      <label for="name">Name:</label>
      <input type="text" id="name" placeholder="Enter Name">

      <label for="imageUrl">Image URL:</label>
      <input type="text" id="imageUrl" placeholder="Enter Image URL">

      <label for="description">Description:</label>
      <textarea id="description" placeholder="Enter Description"></textarea>

      <label for="category">Category:</label>
      <select id="category"><option value="action">Action</option>
    <option value="Adventure">Adventure</option>
    <option value="Animation">Animation</option>
    <option value="Biography">Biography</option>
    <option value="Comedy">Comedy</option>
    <option value="Crime">Crime</option>
    <option value="Documentary">Documentary</option>
    <option value="Drama">Drama</option>
    <option value="Family">Family</option>
    <option value="Fantasy">Fantasy</option>
    <option value="Historical">Historical</option>
    <option value="Horror">Horror</option>
    <option value="Musical">Musical</option>
    <option value="Mystery">Mystery</option>
    <option value="Romance">Romance</option>
    <option value="Science-Fiction">Science Fiction (Sci-Fi)</option>
    <option value="Superhero">Superhero</option>
    <option value="Thriller">Thriller</option>
    <option value="War">War</option>
    <option value="Western">Western</option>
      </select>
	    
      <label for="release_date">Release Date:</label>
      <input id="release_date" type="date" />
	    

      <button onclick="addDounload()"><strong>➕</strong></button>
  <div id="additionalInputs" style="max-height: calc(1.2em * 20); overflow-y: auto; margin-top: 5px; margin-bottom: 5px; border: 2px solid gray; border-radius: 4px; padding: 3px;"></div>

<label for="tags">Tags:</label>
      <input type="text" id="tags" placeholder="Enter Tags">
      <div class="tag-container" id="tagContainer"></div>

      <button onclick="addCardFu()" class="add-button">Add</button>
    </div>
  </div>


<script>
let downloadCount = 0;
    function addDounload() {
downloadCount++;
      const additionalInputs = document.getElementById('additionalInputs');
     var ctext = document.createElement('span');
ctext.style = "margin: 0 auto; margin-top: 5px;";
ctext.innerHTML = `Link ${downloadCount}`;
additionalInputs.appendChild(ctext);
      // Create input fields for download link, size, and quality
      const downloadLinkInput = document.createElement('input');
      downloadLinkInput.type = 'text';
      downloadLinkInput.placeholder = 'Enter Download Link';
      additionalInputs.appendChild(downloadLinkInput);

      const sizeInput = document.createElement('input');
      sizeInput.type = 'text';
      sizeInput.placeholder = 'Enter Size';
      additionalInputs.appendChild(sizeInput);

      const qualityInput = document.createElement('select');
      qualityInput.innerHTML = `
<option value="144p">144p</option>
               <option value="360p">360p</option>
        <option value="480p">480p</option>
        <option value="720p">720p</option>
        <option value="1080p">1080p</option>
        <option value="2k">2k</option>
        <option value="4k">4k</option>
      `;
      additionalInputs.appendChild(qualityInput);

    }
</script>
