<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }
    nav {
      background-color: #555;
      color: #fff;
      padding: 3px;
     height: 5%;
    }

    nav span {
text-decoration: none; 
  color: inherit;
  outline: none; 
      margin-right: 1em;
    }

    section {
      padding-top: 5px;
    }
.movie {
display: block;
height: 92%;
padding-top: 4px;
width: 100%;
}
.showingdivs {
display: block;
height: 92%;
padding-top: 4px;
width: 100%;
}
  </style>
</head>
<body>

  <nav>
    <span onclick="display_div('movies')">Movies</span>
 <span onclick="display_div('settings')">Settings</span>
 <span onclick="display_div('trending')">Trending</span>
 <span onclick="display_div('stat')">Stat</span>
 </nav>

  <div id="div_movies" class="showingdivs">
 <%- include("./movie.ejs")%>
</div>
<div id="div_settings" class="showingdivs">
Settings For Whole Website 
</div>
<div id="div_trending" class="showingdivs">
Trending Movie Edit Panel
</div>
<div id="div_stat" class="showingdivs">
Statistics Div Without Reload
</div>
<script>
function display_div(item) {
var all = document.querySelectorAll(`div[id^="div_"]`);
all.forEach(divs => divs.style.display = "none");
document.querySelector(`#div_${item}`).style.display = 'block';
}
</script>
</body>
</html>
