<h5>Total Views: <%= totalMagaViews%></h5>
<h5>Unique Views: <%= uniqueMagaViews%></h5>

<span>Total Movie Uploaded: ${Y}</span>
<span>Total Users Login: ${Z}</span>

<% srarchTermRecord.forEach(l => { %>
<%= l%>
<% }) %>
