<style>
                .line2 {
            border: 1px solid gray;
            width: 100%;
            border-radius: 4px;
            margin: 0 auto;
            margin-bottom: 15px;
            margin-top: 10px;
        }
        .trendInp {
        	display: block;
        width: 90%;
        margin: 0 auto;
        height: 40px;
        padding: 5px;
        border: 2px solid gray;
        border-radius: 8px;
        }
        .addTrendBtn {
        	        	display: block;
        width: 90%;
        margin: 10px auto;
        height: 40px;
        padding: 5px;
        border: 2px solid gray;
        border-radius: 8px;
        background-color: skyblue;
        }
        .trendList {
        padding: 8px;
        margin-top: 40px;
        display: block;
        border: 2px solid gray;
        border-radius: 8px;
        max-height: 60%;
        overflow-y: auto;
        }
        .rmvBtnTrend {
        	float: right;
        color: blue;
        }
				</style>
		<h2 style="text-align: center;">TRENDING PANEL</h2>
<div class="line"></div>	
<input type="text" class="trendInp" placeholder="movie name to make it trending" id="idMovAdd"/>
<button class="addTrendBtn" id="addTrendBtn">Add</button>
	<div class="trendList">
		<div class="line2"></div>
		
		</div>
		<script>
			var movIdAdd = document.getElementById("idMovAdd");
			document.getElementById("addTrendBtn").addEventListener("click", async() => {

if(!movIdAdd.value || movIdAdd.value.trim() === "") return;
console.log(movIdAdd.value);
//movIdAdd.value = "";

fetch("/admin/data/save/trend/movie", {
	method: "POST",
headers: {
    'Content-Type': 'application/json'
},
    body: JSON.stringify({name: movIdAdd.value})
	}).then(res => res.json()).then(res => {
		if(!res.success) return;
var trmv = document.createElement("span");
if(res.data.action){
trmv.innerHTML = `${res.data.name} <a class="rmvBtnTrend" onclick="rmvTrend('${res.data.action}', this)">Remove</a></span> <div class="line2"></div>`;
}else{
trmv.innerHTML = `${res.data.name} <a class="rmvBtnTrend" onclick="rmvTrend('${res.data.name}', this)">Remove</a></span> <div class="line2"></div>`;
}
document.querySelector(".trendList").appendChild(trmv);
});
movIdAdd.value = "";
});

function rmvTrend(name, but) {
if(!name || name.trim() === "") return;
if(!but) return;
var isconfirmed = confirm("are you sure dude?");
if(isconfirmed === false){
return;
}
	fetch("/admin/data/delete/trend/movie", {
	method: "POST",
headers: {
    'Content-Type': 'application/json'
},
    body: JSON.stringify({ name: name })	
		});
but.parentNode.style.display = "none";
but.parentNode.nextElementSibling.style.display = "none";
}
	
	fetch("/admin/data/get/trend/movie").then(jo => jo.json()).then(lol => {
lol.forEach(lo => {
		var name = lo.name;
		var trmv = document.createElement("span");
if(lo.action){
trmv.innerHTML = `${name} <a class="rmvBtnTrend" onclick="rmvTrend('${action}', this)">Remove</a></span> <div class="line2"></div>`;
}else{
trmv.innerHTML = `${name} <a class="rmvBtnTrend" onclick="rmvTrend('${name}', this)">Remove</a></span> <div class="line2"></div>`;
}
document.querySelector(".trendList").appendChild(trmv);
});		
});
			</script>
