<style>
.footer {
  background-color: #202020;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  /*position: fixed;*/
  display: block;
  bottom: 0;
 /* top: 100%;*/
  margin-bottom: 0px;
  /*margin-top: auto*/
  border-top: 1px solid gray;
}

    .footer-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .footer-logo {
      flex-basis: 100%;
      margin-bottom: 10px;
    }

    .footer-logo img {
      width: 100%;
      max-width: 100px;
      border-radius: 8px; /* Adding border radius for a rounded look */
    }

    .footer-links {
      flex-basis: 100%;
      margin-bottom: 10px;
    }

    .footer-links a {
      color: #fff;
      text-decoration: none;
      margin: 0 10px;
      font-size: 12px;
      transition: color 0.3s ease;
    }

    .footer-links a:hover {
      color: #e50914; /* Hover color */
    }

    .footer-social {
      flex-basis: 100%;
      margin-bottom: 10px;
    }

    .social-icon {
      margin: 0 10px;
      font-size: 18px;
      color: #fff;
      text-decoration: none;
      transition: color 0.3s ease;
    }

    .social-icon:hover {
      color: #e50914; /* Hover color */
    }

    
    /* Responsive styles */
    @media (min-width: 768px) {
      .footer-content {
        justify-content: space-between;
      }

     .footer-logo,
      .footer-links,
      .footer-social,
      .footer-copyright {
        flex-basis: calc(25% - 10px);
        margin: 0;
      }
    }
    
.footer-copyright {
      flex-basis: 100%;
      margin-top: 10px;
      font-size: 12px;
}
</style>
<div class="footer">
    <div class="footer-content">
      <div class="footer-logo">
 
        <img src="/android-chrome-192x192.png" alt="Your Logo">
      </div>

      <div class="footer-links">
        <a href="/">Home</a>
        <a href="/about-us">About Us</a>
        <a href="/contact-us">Contact Us</a>
        <a href="/privacy-policy">Privacy Policy</a>
      </div>

      <div class="footer-social">
        <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
        <a href="mailto:noreply.memer797@gmail.com" class="social-icon"><i class="far fa-envelope"></i></a>
        <a href="https://www.instagram.com/memer_797?igshid=OGQ5ZDc2ODk2ZA==" class="social-icon"><i class="fab fa-instagram"></i></a>
        <a href="https://t.me/+hVgGjErhQk0xZDI1" class="social-icon" target="_blank"><i class="fab fa-telegram"></i></a>
        <a href="https://www.youtube.com/YOUR_CHANNEL_URL" class="social-icon" target="_blank"><i class="fab fa-youtube"></i>
    </a>
<a href="https://www.youtube.com/YOUR_CHANNEL_URL" class="social-icon" target="_blank"><i><svg xmlns="http://www.w3.org/2000/svg" height="12" width="13.5" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3 48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288 448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5 213.5V175.2l142.7 81.2-142.7 81.2z"/></svg></i>
    </a>

      </div>

      <div class="footer-copyright">
        <p>&copy; 2023 Memer797. All rights reserved.</p>
      </div>
    </div>
  </div>
