
<header>
    <div class="logo-container">
      <div class="logo">
        <img src="/android-chrome-192x192.png" alt="Your Logo">
      </div>
      <div class="logo-text">memer797</div>
    </div>
    
    <div class="menu-icon">&#9776;</div>
  </header>

  <nav>
    <a href="/">Home</a>
 <!---   <a href="#">Trending</a>
    <a href="#">LOGIN</a>--->
  </nav>

  <div class="search-container">
    <input type="text" class="search-input" id="searchInput" placeholder="Search...">
    <i class="fas fa-search search-icon" onclick="performSearch()"></i>
  </div>
<div style="width: 99%; margin: 0 auto; height: auto; max-height: 160px; border: gold 1px solid; border-radius: 8px; margin-top: 4px; display: none; color: white; overflow-y: auto;" id="sugsug"></div>
  
    <script>
    document.getElementById('searchInput').addEventListener('focus', function() {
      this.placeholder = '';
    });

    document.getElementById('searchInput').addEventListener('blur', function() {
      this.placeholder = 'Search...';
    });

    function performSearch() {
      var searchTerm = document.getElementById('searchInput').value;
      console.log('Search term:', searchTerm);
      // Add your search functionality here
    }

var searchQ = document.getElementById("searchInput");
var sugDiv = document.querySelector("#sugsug");
let searchTimeout;
searchQ.addEventListener("input", async() => {
clearTimeout(searchTimeout);
searchTimeout = setTimeout(getSuggestion,200);
});
function getSuggestion() {
if(searchQ.value.trim() === ""){
sugDiv.style.display = "none";
return; 
};
console.log(searchQ.value);
fetch(`https://memer797.onrender.com/suggest?q=${searchQ.value}`).then(h => h.json()).then(ardata => {
sugDiv.innerHTML = "";
sugDiv.style.display = "block";
ardata.forEach(ss => {
sugDiv.innerHTML += `<strong><a style="display: block; color: white; margin-bottom: 3px; padding: 3px; margin-left: 10px;">${ss}</a></strong>`;
});
});
};
  </script>
