<style>
header,[class~=search-container],.logo-container{display:flex;}header,.logo-container,[class~=search-container]{align-items:center;}[class~=logo]{width:.416666667in;}[class~=search-container],header{background-color:#252525;}header{padding-right:7.5pt;}[class~=logo]{height:2.5pc;}header{padding-left:.104166667in;}[class~=logo]{margin-right:.104166667in;}[class~=menu-icon]{font-size:18pt;}[class~=menu-icon]{cursor:pointer;}.menu-icon:hover{color:#e50914;}[class~=menu-icon],nav a,[class~=search-input]{color:#fff;}header{padding-top:.052083333in;}[class~=menu-icon]{transition:color .3s ease;}header img{width:100px;}header{padding-bottom:2px;}[class~=search-container]{justify-content:center;}.logo img,header img{height:auto;}[class~=search-input]:focus{box-shadow:0 0 10px 0pt #e50914;}[class~=search-container],.logo img{width:100%;}[class~=search-container]{height:65px;}[class~=search-input]{padding-left:.75pc;}[class~=search-input]{padding-bottom:.75pc;}.obj:nth-child(2){animation-delay:.15s;}header{justify-content:space-between;}nav a:hover{background-color:#333;}[class~=search-input]{padding-right:.75pc;}header,nav{box-shadow:0 .125pc .041666667in rgba(0,0,0,.5);}[class~=search-input]{padding-top:.75pc;}nav{display:none;}[class~=search-input]{font-size:.166666667in;}nav{background-color:#141414;}[class~=search-input]{border-left-width:.375pt;}[class~=search-input]{border-bottom-width:.375pt;}nav a{text-decoration:none;}[class~=search-input]{border-right-width:.375pt;}[class~=search-input]{border-top-width:.375pt;}[class~=search-input]{border-left-style:solid;}[class~=search-input]{border-bottom-style:solid;}[class~=search-input]{border-right-style:solid;}[class~=search-input]{border-top-style:solid;}[class~=search-input]{border-left-color:gray;}nav{padding-left:.104166667in;}[class~=login-button],nav{padding-bottom:.104166667in;}[class~=search-input]{border-bottom-color:gray;}[class~=obj]:nth-child(3){animation-delay:.3s;}nav{padding-right:.104166667in;}[class~=search-input]{border-right-color:gray;}[class~=search-input]{border-top-color:gray;}nav,[class~=login-button]{padding-top:.104166667in;}[class~=search-input]{border-image:none;}[class~=search-input]{background-color:#555;}[class~=search-input]{border-radius:18.75pt;}[class~=search-input]{outline:none;}[class~=search-input]{transition:box-shadow .3s ease;}nav{text-align:center;}[class~=search-input]{box-shadow:0 0 .104166667in 0pc transparent;}nav a{display:block;}nav a{padding-left:6pt;}[class~=search-icon],[class~=search-input]{margin-left:.625pc;}[class~=search-input]{flex:1;}[class~=search-icon]{font-size:20px;}[class~=search-icon]{color:#4285f4;}[class~=search-icon]{margin-right:.625pc;}nav{position:absolute;}nav{top:3.75pc;}[class~=login-button],[class~=search-icon]{cursor:pointer;}[class~=login-container]{text-align:right;}[class~=login-button]{background-color:#e50914;}[class~=login-button]{color:#fff;}[class~=login-button]{padding-left:.15625in;}[class~=obj]:nth-child(4){animation-delay:.45s;}[class~=login-button]{padding-right:.15625in;}[class~=login-button]{border-left-width:medium;}[class~=obj]:nth-child(5){animation-delay:.6s;}[class~=login-button]{border-bottom-width:medium;}nav{right:.625pc;}[class~=login-button]{border-right-width:medium;}[class~=login-button]{border-top-width:medium;}[class~=login-button]{border-left-style:none;}[class~=login-button]{border-bottom-style:none;}[class~=login-button]{border-right-style:none;}nav a:hover{color:#e50914;}[class~=login-button]{border-top-style:none;}nav,[class~=login-button]{border-radius:3.75pt;}.logo img{border-radius:3pt;}[class~=login-button]{border-left-color:currentColor;}[class~=login-button]{border-bottom-color:currentColor;}[class~=login-button]{border-right-color:currentColor;}[class~=login-button]{border-top-color:currentColor;}[class~=login-button]{border-image:none;}nav{z-index:1000;}nav a{padding-bottom:6pt;}[class~=login-button]{font-size:.166666667in;}[class~=loading]{height:.520833333in;}[class~=loading]{display:flex;}[class~=loading]{align-items:center;}[class~=loading]{margin-left:auto;}[class~=loading],[class~=obj]{margin-bottom:0;}[class~=loading]{margin-right:auto;}[class~=loading],[class~=obj]{margin-top:0;}[class~=obj]{width:.375pc;}[class~=obj]{height:0pc;}[class~=obj]{margin-left:.1875pc;}nav a{padding-right:6pt;}nav a{padding-top:6pt;}[class~=obj]{margin-right:.1875pc;}[class~=obj]{border-radius:7.5pt;}[class~=obj]{animation:loading 1.4s infinite;}[class~=obj]:nth-child(6){animation-delay:.75s;}nav a{transition:background-color .3s ease,color .3s ease;}[class~=obj]:nth-child(7){animation-delay:.9s;}.obj:nth-child(8){animation-delay:1.05s;}@keyframes loading{0%{height:0;background-color:#ff0080;}50%{height:50px;background-color:#02f006;}100%{height:0;background-color:cyan;}}
  </style>
<div id="kbt" style="width: 100%; position: fixed; z-index: 999; padding-bottom: 5px; margin-bottom: 0px !important;">
<header>
    <div class="logo-container">
      <div class="logo">
        <img src="/android-chrome-192x192.png" alt="Your Logo">
      </div>
      <div class="logo-text">memer797</div>
    </div>
    
    <div class="menu-icon">&#9776;</div>
  </header>

  <nav>
    <a href="/">🏠 • Home</a>
    <a onclick="searchClicked()">🔎 • Search</a>
    <a href="/see-all">🎬 • All Movies</a>
    <a href="/contact-us">🛰️ • Contact Us</a>
    <a href="/about-us">👨🏻‍🏫 • About Us</a>
    <a href="/privacy-policy">🔏 • Privacy Policy</a>
    <a onclick="submitFeedback()">🤙🏻 • Feedback</a>
 <!---   <a href="#">Trending</a>
    <a href="#">LOGIN</a>--->
  </nav>

  <div class="search-container">
    <input onkeydown="searchOnEnter(event)" type="search" class="search-input" id="searchInput" onfocus="sop()" placeholder="Search...">
    <span style="padding: 6px; font-sixe: 13px;" onclick="performSearch()">&#128269;</span>
  </div>
<div style="background-color: #252525; width: 99%; margin: 0 auto; height: auto; max-height: 160px; border: gold 1px solid; border-radius: 8px; margin-top: 4px; display: none; color: white; overflow-y: auto;" id="sugsug"></div>
  </div>
    <script>
const menuIcon = document.querySelector('.menu-icon');
  const nav = document.querySelector('nav');
document.addEventListener('click', function(event) {
    var userInput = document.getElementById('searchInput');
    var myDiva = document.querySelector("#sugsug a");
if (event.target !== userInput && event.target !== myDiva) {
        nop();
    }
});
function sop(){
if(document.querySelector("#sugsug").innerHTML !== ""){
document.querySelector("#sugsug").style.display = "block";
}}
function nop(){
document.querySelector("#sugsug").style.display = "none";
}
  menuIcon.addEventListener('click', function () {
    if (nav.style.display === 'block') {
      nav.style.display = 'none';
      menuIcon.innerHTML = '&#9776;'; /* Set the menu icon to three horizontal lines */
    } else {
      nav.style.display = 'block';
      menuIcon.innerHTML = '&#10006;'; 
    }
  });

  // Add event listener to close the menu when clicking outside of it
  document.addEventListener('click', function (event) {
    const isClickInsideMenu = nav.contains(event.target);
    const isClickOnMenuIcon = menuIcon.contains(event.target);

    if (!isClickInsideMenu && !isClickOnMenuIcon) {
      nav.style.display = 'none';
      menuIcon.innerHTML = '&#9776;'; /* Set the menu icon to three horizontal lines */
    }
  });
    document.getElementById('searchInput').addEventListener('focus', function() {
      this.placeholder = '';
    });

    document.getElementById('searchInput').addEventListener('blur', function() {
      this.placeholder = 'Search...';
    });
function searchOnEnter(event) {
    if (event.key === "Enter") {
     performSearch();
}
  }
    function performSearch() {
      var searchTerm = document.getElementById('searchInput').value;
      console.log('Search term:', searchTerm);
if(!searchTerm || searchTerm.trim() === "") return;

window.location.href=`https://memer797.onrender.com/search/${searchTerm}`
    }

var searchQ = document.getElementById("searchInput");
var sugDiv = document.querySelector("#sugsug");
let searchTimeout;
searchQ.addEventListener("input", async() => {
clearTimeout(searchTimeout);
searchTimeout = setTimeout(getSuggestion,200);
});
function getSuggestion() {
if(searchQ.value.trim() === ""){
sugDiv.style.display = "none";
return; 
};
sugDiv.style.display="block";
sugDiv.innerHTML = `<div style='margin-top: 8px; margin: 0 auto;' class='loading'><div class='obj'></div><div class='obj'></div><div class='obj'></div><div class='obj'></div><div class='obj'></div><div class='obj'></div><div class='obj'></div><div class='obj'></div></div>`;
console.log(searchQ.value);
fetch(`https://memer797.onrender.com/suggest?q=${searchQ.value}`).then(h => h.json()).then(ardata => {
sugDiv.innerHTML = "";
sugDiv.style.display = "block";
ardata.forEach(ss => {
sugDiv.innerHTML += `<strong><a href="https://memer797.onrender.com/movie/${ss.id}" style="display: block; color: white; margin-bottom: 3px; padding: 3px; margin-left: 10px; -webkit-tap-highlight-color: transparent; text-decoration: none;">${ss.name}</a></strong>`;
});
});
};
function searchClicked(){
document.querySelector('#searchInput').focus();
document.querySelector('nav').style.display='none';
document.querySelector('.menu-icon').innerHTML = '&#9776;';     
}
function submitFeedback(){
var q = prompt("Tell Your Query / report / feedback");
var name = prompt("Enter your name");
if(!q || !name){ return; }
var data = {
  name: name,
  q: q
};

fetch('/dm/admin/query', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json'
  },
  body: JSON.stringify(data)
})
.catch(error => {
  console.error('There was a problem while submitting your query');
});

}
  </script>
