<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>memer797 - Free Web Series and Movies</title>
    <link rel="stylesheet" type="text/css" href="/global.css"/>
    <style>
        .hdr {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1em;
        }

        section {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: transparent;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: whie;
        }

        a {
            color: #34f0fa;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
<%- include('./includes/nav')%>
<div class="taremaka">
    <div class="hdr">
    <span><a href="javascript: history.go(-1);">⬅️ back</a></span>
        <h1>Welcome to memer797</h1>
        <p>Your Gateway to Free Web Series, Movies, and Premium Content</p>
    </div>

    <section>
        <h2>About Us</h2>
        <p>Discover a world of entertainment at memer797, where we provide free access to a diverse collection of web series, movies, and premium content. Our platform is dedicated to bringing joy and excitement to your screens.</p>
    </section>

    <section>
        <h2>Featured Content</h2>
        <p>Explore our curated selection of the latest web series and movies. From thrilling dramas to side-splitting comedies, memer797 has something for every taste.</p>
    </section>

    <section>
        <h2>Advertisement Opportunities</h2>
        <p>Boost your brand's visibility by advertising with memer797! We offer diverse promotional opportunities to showcase your products and services. For advertising inquiries, please reach out to us via <a href="/contact-us">Contact Page</a>:</p>
        <p><strong>Contact Us Page:</strong> <a href="/contact-us">Click Here</a></p>
    </section>

    <section>
        <h2>Contact Us</h2>
        <p>If you have any queries regarding the site, advertisements, or any other issues, please feel free to contact us via <a href="/contact-us">Contact Us Page</a>:</p>
       <p><strong>Contact Us Page:</strong> <a href="/contact-us">Click Here</a></p>
    </section>
</div>
<%- include('./includes/footer')%>
</body>

</html>
