<!DOCTYPE html>
<html>
<head>
<title> Admin Dashboard </title>
</head>
<body>
Added Data ↓ <br>
<div id="mainDiv">
</div>
<br>
<input id="name"></input> <br>
<input id="val"></input> <br>
<button id="addBtn">Add Data</button>
<script>
document.getElementById("addBtn").addEventListener("click", () => {
var name = document.getElementById("name");
var value = document.getElementById("val");
if(!name || !value){ return; }
name.value = "";
value.value = "";
var mainDiv = document.getElementById("mainDiv");
var newDiv = document.createElement("div");
var htmlTemplate = `${name} = ${val}`;
newDiv.innerHTML = htmlTemplate;
mainDiv.appendChild(newDiv);

});
</script>
</body>
</html>
