<!DOCTYPE html>
<html>
<head>
<title> Admin Dashboard </title>
</head>
<body>
Added Data ↓ <br>
<div id="mainDiv">
</div>
<br>
<input id="name"></input> <br>
<input id="val"></input> <br>
<button id="addBtn">Add Data</button>

</body>
</html>
