<!DOCTYPE html>
<html>
<head>
html, body {
width: 100%;
height: 100%;
padding: 0;
margin: 0;
}
<style>
</style
</head>
<body>
<iframe src="https://memer797-status.betteruptime.com/badge?theme=dark" width="250" height="30" frameborder="0" scrolling="no"></iframe>
<iframe src="https://memer797-status.betteruptime.com" width="100%" height="100%"></iframe>
<script src="https://uptime.betterstack.com/widgets/announcement.js" data-id="188408" async="async" type="text/javascript"></script>
</body>
</html>
