html {
width: 100%;
height: 100%;
}
body {
      margin: 0;
      padding: 0;
      background-color: #303030;
      color: #fff;
width: 100%;
height: 100%;
    }
.taremaka {
padding-top: 135px;
min-height: calc(100% - 135px);
}
.line {
  display: block;
  width: 100%;
  border: 0.5px solid gray;
 height: 1px;
}
